.start{
    display: flex;
    justify-content: center;
}

.start .btn{
    padding: .2em 2.1em;
    border: none;
    border-radius: .5em;
    font-size: 1.2em;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #fcb131;
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

#form label{
    font-size: 1.3em;
    margin-bottom: 10px;
}

#form .userid{
    padding: .2em 1rem;
    color: blue;
    /* width: 50%; */
    border: none;
    border-radius: 3px;
    font-size: 1em;
}

@media (max-width: 768px) {
    .start .btn {
        font-size: 1em;
        padding: .2em 1.5em;
    }

    #form {
        margin-top: 1em;
    }

    #form label {
        font-size: 1.1em;
    }

    #form .userid {
        font-size: 0.9em;
        padding: .2em 0.8rem;
        width: 80%;
    }
}
